<div class="form-wrapper">
    <form action="/users/login" method="POST" class="form login-form">
        <div class="form__title">Login</div>
        <div class="form__group">
            <div class="form__item">
                <label>Mail</label>
                <input type="email" name="email" class="text-field" required>
            </div>
            <div class="form__item">
                <label>Password</label>
                <input type="password" name="password" class="text-field" minlength="8" required>
            </div>
            <div class="form__item">
                <label></label>
                <input type="submit" value="Login">
                <span class="forgot-pass"><a href="">Forgot Your Password?</a></span>
            </div>
        </div>
    <form>
</div>